html {
  background-color: #C0FDFB;
}

.array-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: "max";
  height: 90vh;
  background-color: #131313;
  opacity: 0.9;
}


.array-bar {

  font-display: none;
  border: 0.1vh solid black;
  opacity: 0.9;
}

.button-container {
  height: 10vh;
  background-color: #C0FDFB;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  
}

button {
  appearance: button;
  background-color: #131313;
  border: 0.2vh solid #000000;
  opacity: 0.9;
  border-radius: 0.8vh;
  height: fit-content;
  color: #C0FDFB;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI";
  font-size: 2vh;
  overflow: visible;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-left: 2vh;
}

#generate-button {
  margin-right: 25vh;
}




button:hover {
  background-color: #235484;
}

button:active {
  background-color: #0039D7;
}

p {
  color: #0e0e0e;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI";
  font-size: 2vh;
  overflow: visible;
  padding: 0px 4.5vh;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-left: 1%;
  margin-right: -2vw;
}

input {
  all: unset;
}


.input {
  background-color: #131313;
  height: 3vh;
  width: 6vw;
  border-radius: 50vh;
  opacity: 0.9;

}

input[type=range]{
  -webkit-appearance: none;
}



input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.7vh;
  width: 1.7vh;
  border-radius: 50%;
  background: #C0FDFB;

}
