html {
  background-color: #C0FDFB;
}

.array-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: "max";
  height: 90vh;
  background-color: #131313;
  opacity: 0.9;
  overflow: hidden;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}


.array-bar {
  font-display: none;
  border-inline: #131313 solid 0.1vh;
  border-radius: 0.1vh;
  opacity: 0.9;
}

.button-container {
  height: 10vh;
  background-color: #C0FDFB;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  
}

button {
  appearance: button;
  background-color: #131313;
  border: 0.1vh solid #3c4848;
  border-radius: 0.9vh;
  opacity: 0.9;
  height: fit-content;
  color: #C0FDFB;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI";
  font-size: 2vh;
  font-weight: 500;
  overflow: visible;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-left: 2vh;
}

#generate-button {
  margin-right: 0vh;
  margin-left: 2vw;
}

#reset-button {
  margin-right: 2vw;
}




button:hover {
  background-color: #C0FDFB;
  color: #131313;
}

button:active {
  background-color: #7ab7b5;
}

p {
  color: #0e0e0e;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI";
  font-size: 2vh;
  font-weight: 500;
  overflow: visible;
  padding: 0px 4.5vh;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-right: -1.8vw;
}

input {
  all: unset;
}


.input {
  background-color: #131313;
  height: 3vh;
  width: 7vw;
  border-radius: 50vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  opacity: 0.9;

}

input[type=range]{
  -webkit-appearance: none;
  appearance: none;
  margin-top: 0.3vh;
}



input[type=range]::-webkit-slider-thumb {
  appearance: none;
  height: 1.8vh;
  width: 1.8vh;
  border-radius: 50%;
  background: #C0FDFB;

}


@media only screen and (max-width: 600px) {
  .array-container {
    height: 80vh;
  }
  .button-container {
    height: 20vh;
    flex-wrap: wrap;
    justify-content: center;
  }

  .slider-container {

    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
  }

  button {
    font-size: 1vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 0.7vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -0.2vh;
  }
  #generate-button {
    margin-right: 0vh;
    margin-left: 0vh;
  }
  p {
    font-size: 1.3vh;
    display: inline-block;
    margin-bottom: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 1.5vh;
    width: 1.5vh;
  }
  input[type=range] {
    width: 50vw;
    height: 2.2vh;

  }
  .input {
    width: 14vw;
  }
}
