html {
  background-color: #C0FDFB;
}

.array-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: "max";
  height: 90vh;
  background-color: #131313;
  opacity: 0.9;
  overflow: hidden;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.array-bar {
  font-display: none;
  border-inline: #131313 solid 0.1vh;
  border-radius: 0.1vh;
  opacity: 0.9;
}

.button-container {
  height: 10vh;
  background-color: #C0FDFB;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  
}

button {
  appearance: button;
  background-color: #131313;
  border: 0.1vh solid #3c4848;
  border-radius: 0.9vh;
  opacity: 0.9;
  height: fit-content;
  color: #C0FDFB;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI";
  font-size: 2vh;
  font-weight: 500;
  overflow: visible;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-left: 2vh;
}

#generate-button {
  margin-right: 19vh;
  margin-left: 2vw;
}




button:hover {
  background-color: #C0FDFB;
  color: #131313;
}

button:active {
  background-color: #7ab7b5;
}

p {
  color: #0e0e0e;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI";
  font-size: 2vh;
  font-weight: 500;
  overflow: visible;
  padding: 0px 4.5vh;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-left: 1%;
  margin-right: -2vw;
}

input {
  all: unset;
}


.input {
  background-color: #131313;
  height: 3vh;
  width: 7vw;
  border-radius: 50vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  opacity: 0.9;

}

input[type=range]{
  -webkit-appearance: none;
  appearance: none;
}



input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 1.6vh;
  width: 1.6vh;
  border-radius: 50%;
  background: #C0FDFB;

}

/* css for iPhone */

@media only screen and (max-width: 600px) {
  .array-container {
    height: 80vh;
  }
  .button-container {
    height: 20vh;
    flex-wrap: wrap;
    justify-content: center;
  }

  .slider-container {
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;

  }
  button {
    font-size: 0.9vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 0;
  }
  #generate-button {
    margin-right: 0vh;
    margin-left: 0vh;
  }
  p {
    font-size: 1vh;
    margin-right: 0.4vh;
    display: inline-block;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 1.5vh;
    width: 1.5vh;
  }
  input[type=range] {
    width: 25vw;
    height: 3vh;
    margin-top: -2vh;
  }
  .input {
    width: 14vw;
  }
}
